.top-section{text-align: center;
    font-family:Apple Chancery, cursive;
    text-decoration: underline;
    color:ghostwhite;
    border-style: dotted;
border-color:deeppink;
border-width: 5px; 


}

.paragraph-section{ text-align: center;
    color: aliceblue;
    font-family: cursive;
    font-size:x-large
    
}

.list-section{ text-align: center;
    color: aliceblue;
    font-family: cursive;
    border-style: groove;
    font-size: x-large;

}


body{

    background-image: url(https://tse1.mm.bing.net/th?id=OIP.JTjRuH-iL-HDP_2xPOMbtgHaE8&pid=Api&P=0);
    background-repeat: no-repeat;
    background-size: 100%;
}

h3{
    font-size: x-large;
    text-decoration: underline;
}