.top-section{text-align: center;
    font-family:Apple Chancery, cursive;
    text-decoration: underline;
}

.paragraph-section{ text-align: center;
    
}

.list-section{ text-align: center;

}


body{
    background-color: cornflowerblue;
}
