.top-section{
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:darkblue;
    color:aliceblue;
}

.link-section{

}

body{
    background-color: cadetblue;
}



.img-section{
    text-align: center;

}

.image-section{ text-align: right;

}

.nav-section{
    text-align: center;
    border: 1px solid; 
  background-color:honeydew;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
}