.top-section{
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:goldenrod;
    color:aliceblue;
}

.link-section{

}

body{ background-color: aliceblue;
background-repeat: no-repeat;
background-size: 100%;
}