.top-section{ 
    text-align: center;
    text-decoration: overline;
font-family: Arial, Helvetica, sans-serif;
}

.middle-section{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.img-section{ text-align: center;

}

.link-section{ text-align: right;

}

body{
    background-color: hsl(38, 100%, 85%);
}