.top-section{ 
    text-align:center;
    text-decoration: overline;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
}

.middle-section{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.img-section{ text-align:left;
    
}

.link-section{ text-align: right;

}

body{ background-color: palegoldenrod;
    background-repeat: no-repeat;
    background-size: 100%;
}

